    @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
    .App {
        font-family: 'Montserrat', sans-serif;
        min-height: 100vh;
        background: #FF8B65;
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
    }
    
    .search-form {
        min-height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Montserrat', sans-serif;
    }
    
    .search-bar {
        width: 30%;
        border: none;
        padding: 10px;
    }
    
    .search-button {
        background: #274574;
        border: none;
        padding: 9.5px 20px;
        color: white;
        font-family: 'Montserrat', sans-serif;
    }
    
    .search-button:hover {
        background: #d5deee;
        color: black;
    }
    
    .recipes {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    
    .recipe {
        border-radius: 5px;
        box-shadow: 0px 5px 20px #274574;
        margin: 20px;
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background: #F4F4F4;
        align-items: center;
        min-width: 40%;
    }
    
    .recipe:hover {
        background: #d5deee;
    }
    
    img {
        border-radius: 10px;
        width: 250px;
        height: 200px;
    }
    
    @media only screen and (min-width: 800px) {
        .recipe {
            margin-right: 300px;
            margin-left: 300px;
        }
    }
    
    @media only screen and (min-width: 1100px) {
        .recipe {
            margin-right: 400px;
            margin-left: 400px;
        }
    }